@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sifonn Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Sifonn Pro'), url(fonts/sifonn.woff) format('woff');
}

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 55 Roman'), url(fonts/AvenirLTStd-Roman.woff) format('woff');
}


@font-face {
    font-family: AvenirO;
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 55 Oblique'), url(fonts/AvenirLTStd-Oblique.woff) format('woff');
}


@font-face {
    font-family: AvenirL;
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 35 Light'), url(fonts/AvenirLTStd-Light.woff) format('woff');
}


@font-face {
    font-family: AvenirLO;
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 35 Light Oblique'), url(fonts/AvenirLTStd-LightOblique.woff) format('woff');
}


@font-face {
    font-family: AvenirB;
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 45 Book'), url(fonts/AvenirLTStd-Book.woff) format('woff');
}


@font-face {
    font-family: AvenirBO;
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 45 Book Oblique'), url(fonts/AvenirLTStd-BookOblique.woff) format('woff');
}


@font-face {
    font-family: AvenirM;
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 65 Medium'), url(fonts/AvenirLTStd-Medium.woff) format('woff');
}


@font-face {
    font-family: AvenirMO;
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 65 Medium Oblique'), url(fonts/AvenirLTStd-MediumOblique.woff) format('woff');
}


@font-face {
    font-family: AvenirH;
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 85 Heavy'), url(fonts/AvenirLTStd-Heavy.woff) format('woff');
}


@font-face {
    font-family: AvenirHO;
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 85 Heavy Oblique'), url(fonts/AvenirLTStd-HeavyOblique.woff) format('woff');
}


@font-face {
    font-family: AvenirBL;
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 95 Black'), url(fonts/AvenirLTStd-Black.woff) format('woff');
}


@font-face {
    font-family: AvenirBLO;
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 95 Black Oblique'), url(fonts/AvenirLTStd-BlackOblique.woff) format('woff');
}

body {
    @apply font-avenirMO;
}

.page-content {
    @apply text-black px-1 sm:px-2 md:px-8 lg:px-16;
}

.link {
    @apply underline hover:text-test-green;
}

/*
#root * {
    border: 1px solid red;
}*/