@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cantarell-b';
    src: local('Cantarell'), url(fonts/Cantarell-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'Cantarell-bi';
    src: local('Cantarell'), url(fonts/Cantarell-BoldItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'Cantarell-i';
    src: local('Cantarell'), url(fonts/Cantarell-Italic.ttf) format('ttf');
}

@font-face {
    font-family: 'Cantarell';
    src: local('Cantarell'), url(fonts/Cantarell-Regular.ttf) format('ttf');
}

body {
    @apply font-cantarell;
}

.page-content {
    @apply text-black px-1 sm:px-2 md:px-8 lg:px-16;
}

.link {
    @apply hover:underline hover:text-test-green;
}

/*
#root * {
    border: 1px solid red;
}*/